/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  /*padding-top: 50px;*/
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */
.arrow {
    /* width: 0; */
    height: 0px;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-right: 50px solid #fff;
    right: 0px;
    padding: -50px 0;
    top: 317px;
    /* vertical-align: middle; */
    position: absolute;	
}

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    border-right:1px solid #4e4e4e;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #fff;
  }
}
.active{
	color: #4e4e4e;
    background-color: rgba(232,223,107,0.2);
    border-bottom: 2px solid #E8DF6B;
    border-top: 2px solid #E8DF6B;
	}
.redactive{
	color: #4e4e4e;
    background-color: rgba(240,78,58,0.2);
    border-bottom: 2px solid #F7A29C;
    border-top: 2px solid #F7A29C;
	}
/* Sidebar navigation */

.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
  font-size:14px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
   padding-top: 3px;
  padding-bottom: 3px;
  color: #4e4e4e;
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
}
.nav-sidebar>li>a:focus,
.nav-sidebar>li>a:hover {
  	color: #4e4e4e;
    background-color: transparent;
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
}
.nav-sidebar > .active > a, 
.nav-sidebar > .active > a:hover, 
.nav-sidebar > .active > a:focus {
  /*  color: #fff;
    background-color: rgba(255,255,255,0.5);
    border-bottom: 2px solid #fff;
    border-top: 2px solid #fff;*/
}
.nav-sidebar>li.disabled> a,
.nav-sidebar>li.disabled> a:hover,
.nav-sidebar>li.disabled> a:focus {
    color: rgba(255,255,255,0.3);
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
.fixed {
  margin-top: 10px;
  overflow: auto;
  max-height: 689px;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scrollbar-dynamic {
    border: 1px solid #FCC;
    max-height: 300px;
    overflow: auto;
}