body{
    background:url("../images/welcome-1600.jpg") no-repeat fixed center!important;
    -webkit-background-size: cover!important;
    -moz-background-size: cover!important;
    -o-background-size: cover!important;
    background-size: cover!important;
}


.hello-circle{
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #FF4943;
    border:5px solid #fff;
    color:#fff;
    font-family: "ProximaNovaLight";
  
 }
.hello-circle-lg{
    width: 450px;
    height: 450px;  
    margin: auto;   
 }
 .hello-circle-lg b{
      font-size: 40px; 
      font-family: "ProximaNovaBold";
 }
.hello-circle-md{
    width: 360px;
    height: 360px;  
    margin: auto;   
 }
  .hello-circle-md b{
      font-size: 32px; 
      font-family: "ProximaNovaBold";
 }
.hello-circle-sm{
    width: 300px;
    height: 300px;  
    margin: auto;   
}
  .hello-circle-sm b{
      font-size: 28px;
      font-family: "ProximaNovaBold";
 }
.row-circle-lg{
    display: inline-block;
    display: inherit;
    padding: 105px 15px;
    margin: auto;
    text-align: center;
 }
.row-circle-md{
    display: inline-block;
    padding: 91px 15px;
    display: inherit;
    margin: auto;
    text-align: center;
 }
.row-circle-sm{
    display: inline-block;
    padding: 78px 15px;
    display: inherit;
    margin: auto;
    text-align: center;
 }
.hello-circleText-lg{
    font-size: 38px;
    line-height: 33px;
}
.hello-circleText-md{
    font-size: 30px;
    line-height: 27px;
}

.hello-circleText-sm{
    font-size: 26px;
    line-height: 24px;
}

.show{
    display:'';
}
.hide{
    display:'none';
}

.messagebox-sm{
    margin-top: 15px;
}
.messagebox-md{
    margin-top: 20px;
}
.messagebox-lg{
    margin-top: 25px;
}
@media (max-width: 1025px){
    body{
    background:url("../images/welcome.jpg") no-repeat fixed center!important;
    -webkit-background-size: cover!important;
    -moz-background-size: cover!important;
    -o-background-size: cover!important;
    background-size: cover!important;
}
}